[alias]
	open = "!f() { open $(cat .git/config | grep url | sed -r \"s/.+url =//g\" | sed -r \"s/git@(.*):/http:\\/\\/\\1\\//g\"); }; f"
	co = checkout
[user]
	name = Florian Kappes
	email = kappesf@gmail.com
